<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="www.manaca.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <ProjectSettings>
        <!--
        <Add key="BASE_IMAGE_PATH" value="value2"/>
        -->
    </ProjectSettings>
    <Files>
        <!--
        <File url="files.xml" name="file" FileType="xml"/>
        -->
    </Files>
</Configuration>