<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="www.manaca.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <projectSettings>
        <add key="TEST_VALUE2" value="value2"/>
        <add key="TEST_VALUE3" value="value3"/>
    </projectSettings>
    <files>
        <file url="assets/file.xml" name="xml" fileType="xml"/>
        <file url="assets/file.swf" name="swf" fileType="swf"/>
        <file url="assets/file.jpg" name="jpg" fileType="image"/>
        <file url="assets/file.png" name="png" fileType="image"/>
    </files>
</configuration>